nav > button {
    border: none;
    background-color: transparent;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-s);
    width: 60px;
    transition: var(--transition);
}

nav > button:hover {
    color: var(--color-off-white);
    transition: var(--transition);
}

nav > button.active {
    color: var(--color-off-white);
    border-bottom: 2px solid var(--color-off-white);
    padding: 0px;
    transition: var(--transition);
}